/* app.css */
/* index.css */

/* Product List Styles */
.productList {
  max-width: 1200px;
  margin: 0 auto; /* Center the product list */
  padding: 20px;
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.grid {
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Center items horizontally */
}

.product {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 10px; /* Add some margin between items */
}

.link {
  text-decoration: none;
}

.image {
  max-width: 100%;
}

.name {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.price {
  font-size: 16px;
  color: #555;
}


/* index.css */

/* Header Styles */
.header {
  background-color: #1e1e1e; /* Dark background color */
  color: #fff; /* White text color */
  padding: 20px;
}

.header h1 {
  font-size: 24px;
  font-family: 'Pacifico', cursive; /* Custom font for the heading */
  margin-bottom: 10px;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0 10px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #f0f0f0; /* Lighter text color on hover */
}

/* index.css */

/* Define a flex container for the root element (usually <body>) */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
}

/* Main content container */
.main-content {
  margin-bottom: 60px; /* Adjust margin bottom to accommodate the footer height */
}

/* Footer Styles */
.footer {
  background-color: #1e1e1e; /* Dark background color */
  color: #fff; /* White text color */
  padding: 20px;
  text-align: center; /* Center the content horizontally */
  position: fixed; /* Fixed position */
  bottom: 0; /* Stick to the bottom of the viewport */
  width: 100%; /* Full width */
}
/* index.css */
/* index.css */
/* index.css */

/* Product Details Styles */
.product-details-container {
  max-width: 600px;
  margin: 0 auto; /* Center the product details */
  padding: 20px;
  text-align: center; /* Center the content horizontally */
}

.product-details-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-details-image {
  max-width: 100%;
  margin-bottom: 20px;
}

.product-details-price {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.product-details-description {
  font-size: 16px;
  line-height: 1.5;
}
